.App {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.global-loader {
  align-self: center;
  justify-self: center;
}

/*----------------------------------------------------------*/
/* Navbar Component */

nav {
  padding: 0 6%;
	width: 100%;
  position: fixed;
}

.nav-main-container {
	height: 58px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #343A40;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

nav a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	transition-duration: 0.2s;
	padding: 0 20px;
}

nav a.active,
nav a:hover {
	color: white;
}

/*----------------------------------------------------------*/
/* CreateTweet Component */

.content-main-container {
  width: 100%;
  padding: 0 10%;
    padding-top: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-frame {
    border: 2px solid white;
    border-radius: 6px;
}

.tweet-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  width: 100%;
  height: 180px;
  margin-bottom: 15px;
  padding: 10px 20px;
}

.tb-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tb-bottom span {
  align-self: center;
}

.chars-left {
  color: white;
    transition-duration: 0.2s;
}

.red {
    color: orangered;
}

.orange {
    color: orange;
}

.post-btn {
  text-align: center;
  height: 34px;
  width: 68px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 19px;
  background-color: #007BFF;
  border-radius: 4px;
  transition-duration: 0.2s;
  transition-property: background-color, color;
  cursor: pointer;
}

/* Had to use rgba as opacity doesn't appear to work on my safari */

.post-btn:hover {
    background-color: rgba(0, 123, 255, 0.9);
    color: rgba(255, 255, 255, 0.9)
}

.post-btn.loading,
.post-btn.disabled,
.post-btn:active {
    background-color: rgba(0, 123, 255, 0.7);
    color: rgba(255, 255, 255, 0.7)
}

.post-btn.loading {
	background-image: url(./assets/btn-loader.gif);
  background-size: cover;
	background-position: center;
}

/* loader on button (hence img) */

img.post-btn,
img.post-btn:hover,
img.post-btn:active {
    background-color: #007BFF;
    color: white;
}

#tweet-input {
  background-color: transparent;
  border: none;
  resize: none;
  color: white;
  height: 75%;
  width: 100%;
}

#tweet-input::placeholder {
  all: unset;
  color: #cccccc;
}
/*----------------------------------------------------------*/
/* TweetList Component */

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-message h1 {
    text-align: center;
    font-size: 30px;
    line-height: 55px;
    color: #535353;
}

/*----------------------------------------------------------*/
/* Tweet Component */

.display-tweet-container {
  background-color: #343A40;
  border-radius: 6px;
  min-height: 100px;
  margin: 7.5px 0;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  max-width: 700px;
  width: 100%;
  flex-grow: 1;
}

.dt-top {
  color: #6C757D;
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
}

.dt-content {
    padding: 3% 0;
    word-wrap: break-word;
}

/*----------------------------------------------------------*/
/* Profile Page */

.login-main-container,
.profile-main-container {
  color: white;
  width: 100%;
  max-width: 700px;
    display: flex;
    flex-direction: column;
}

.login-main-container > h1,
.profile-main-container > h1 {
    font-size: 36px;
    line-height: 42px;
}

.profile-main-container > label {
    font-size: 18px;
    line-height: 21px;
    /*margin-bottom: 6px;*/

}

.profile-main-container .input-frame {
    padding: 16px 20px;
    margin: 16px 0;
}

.input-frame > input {
    background-color: transparent;
    border: none;
    color: #cccccc;
    width: 100%;
    height: 100%;
}

.profile-main-container > button {
    align-self: flex-end;
}

/*----------------------------------------------------------*/
/* SignUp Page */

.login-main-container.sign-up .post-btn {
  width: 20%;
  margin-right: 5px;
}

.single-field input,
.single-field {
  width: 100%;
}

.double-field input {
  width: 100%;
}

.single-field {
  margin: 5px 0;
  padding: 0 5px;
}
.double-field div {
  margin: 5px 5px;
  flex-grow: 1;
}

.double-field {
  display: flex;
}



/*----------------------------------------------------------*/
/* Login Page */

.login-main-container h1 {
  width: 100%;
}

.login-methods {
  justify-content: center;
  width: 100%;
  display: flex;
}

.login-right,
.login-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.login-left {
  border-right: 2px solid white;
  padding-right: 40px;
}

.login-right {
  margin-left: 40px;
}

.login-main-container .post-btn {
  align-self: flex-end;
  margin: 8px 0;
}

.login-right .post-btn {
  width: 100%;
  margin: 10px 0;
}

.login-right > :nth-child(1) {
  background-color: rgba(0, 128, 0, 1);
}

.login-right > :nth-child(1):hover {
  background-color: rgba(0, 128, 0, 0.9);
}

.login-right > :nth-child(1):active {
  background-color: rgba(0, 128, 0, 0.7);
}

.login-right {
  justify-content: center;

}

.error {
  color: orangered;
}

.login-main-container input {
  background: none;
  border: none;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  padding: 16px;
  margin: 8px 0;
}

.post-btn.sign-with {
  display: flex;
  align-items: center;
}

.post-btn.sign-with > img{
  vertical-align: middle;
  height: 100%;
  padding: 7px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
}

.post-btn.sign-with span {
  margin: 0 auto;
}
