.App {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
	min-width: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*----------------------------------------------------------*/
/* Navbar Component */

nav {
	padding: 0 6%;
	width: 100%;
	margin-bottom: 47px;
}

.nav-main-container {
	height: 58px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #343A40;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

nav a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	transition-duration: 0.2s;
	padding: 0 20px;
}

nav a.active, 
nav a:hover {
	color: white;
}

/*----------------------------------------------------------*/
/* CreateTweet Component */

.content-main-container {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-frame {
    border: 2px solid white;
    border-radius: 6px;
}

.tweet-box {
    padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  width: 100%;
  height: 180px;
  margin-bottom: 15px;
  padding: 10px 20px;
}

.tb-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tb-bottom span {
  align-self: center;
}

.chars-left {
  color: white;
}

.chars-left.max-reached {

}

.post-btn {
  text-align: center;
  height: 34px;
  width: 68px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 19px;
  background-color: #007BFF;
  border-radius: 4px;
  transition-duration: 0.2s
}

.post-btn:hover {
  opacity: 90%;
}

.post-btn:active {
  opacity: 70%;
}

#tweet-input {
  background-color: transparent;
  border: none;
  resize: none;
  color: white;
  height: 75%;
  width: 100%;
}

#tweet-input::placeholder {
  all: unset;
  color: #cccccc;
}

/*----------------------------------------------------------*/
/* Tweet Component */

.display-tweet-container {
  background-color: #343A40;
  border-radius: 6px;
  min-height: 100px;
  margin: 7.5px 0;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  max-width: 700px;
  width: 100%;
  flex-grow: 1;
}

.dt-top {
  color: #6C757D;
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
}

.dt-content {
    padding: 3% 0;
    word-wrap: break-word;
}

/*----------------------------------------------------------*/
/* Profile Page */

.profile-main-container {
  color: white;
  /*height: 200px;*/
  width: 100%;
  max-width: 700px;
    display: flex;
    flex-direction: column;
}

.profile-main-container > h1 {
    font-size: 36px;
    line-height: 42px;
}

.profile-main-container > label {
    font-size: 18px;
    line-height: 21px;
    /*margin-bottom: 6px;*/

}

.profile-main-container .input-frame {
    padding: 16px 20px;
    margin: 16px 0;
}

.input-frame > input {
    background-color: transparent;
    border: none;
    color: #cccccc;
    width: 100%;
    height: 100%;
}

.profile-main-container > button {
    align-self: flex-end;
}